.intro h2 {
  color: blue;

}
.intro p {
  color: red;

}
.intro img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.intro p{
  color: red;
}
.intro {
  text-align: center;

}
.clickable {
  cursor: pointer;
  color: purple;
}

.default {
  background-color: none;
}

.highlight {
 border: outset ;
 background-color: yellow;
}
